/*Colour themes*/
/*D9F8C4*/
/*F9F9C5*/
/*FAD9A1*/
/*F37878*/

/********element selectors********/
body{
    background-color: #D9F8C4;
    margin:0;
}

h1{
    font-family: "Acme", sans-serif;
    text-align-last:center;
}

/********class selectors********/
.box{
    background-color: #F37878;
    border-radius: 25px;
    height:20%;
    margin:5%;
}

.box2{
    background-color: #F37878;
    border-radius: 25px;
    height:40%;
    margin:5%;
}

.topleft{
    border-right:4px solid #D9F8C4;
    float:left;
    height:100%;
    text-align-last:center;
    width:50%;
}

.topright{
    height:100%;
    margin-left: 55%;
    text-align-last:left;
    width:50%;
}

.toplefttexta{
    font-size: 20%; 
}

.toplefttextb{
    font-size: 50%; 
}

.toprighttext{
    font-size: 20%; 
}

.middleleft{
    float:left;
    height:100%;
    text-align-last:center;
    width:40%;
}

.middleright{
    height:100%;
    margin-left: 40%;
    text-align-last:left;
    width:60%;
}

.bottomleft{
    float:left;
    height:100%;
    text-align-last:center;
    width:70%;
}

.bottomright{
    height:100%;
    margin-left: 70%;
    text-align-last:left;
    width:30%;
}

.bottomrighttext{
    font-size: 20%; 
}

/********id selectors********/
