/*Colour themes*/
/*D9F8C4*/
/*F9F9C5*/
/*FAD9A1*/
/*F37878*/

/*iphone screen size: 414x869px */

/********element selectors********/
body{
    background-color: #D9F8C4;
    margin:0;
}

h1{
    font-family: "Acme", sans-serif;
    text-align-last:center;
}

/********class selectors********/
.box{
    background-color: #F37878;
    border-radius: 25px;
    height:150px;
    margin:5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box2{
    background-color:#FAD9A1;
    border-radius: 25px;
    height:150px;
    margin:5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box3{
    background-color: #F37878;
    border-radius: 25px;
    height:320px;
    margin:5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.topleft{
    border-right:4px solid #D9F8C4;
    float:left;
    height:150px;
    text-align-last:center;
    width:50%;
}

.topright{
    height:150px;
    margin-left: 55%;
    text-align-last:left;
    width:50%;
}

.toplefttexta{
    font-family: "Acme", sans-serif;
    font-size: 15px; 
    margin-top: 12px;
    margin-bottom: 5px;
}

.toplefttextb{
    font-family: "Acme", sans-serif;
    font-size: 60px; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.toprighttext{
    font-family: "Acme", sans-serif;
    font-size: 13px; 
    margin-top: 5px;
}

.middleleft{
    background-color:#FAD9A1;
    border-radius: 25px;
    float:left;
    height:150px;
    text-align-last:center;
    width:40%;
}

.middleright{
    background-color:#FAD9A1;
    border-radius: 25px;
    height:150px;
    margin-left: 40%;
    text-align-last:left;
    width:60%;
}

.bottomtext{
    font-family: "Acme", sans-serif;
    font-size: 12px; 
    margin-top: 10px;
    text-align-last: center;
}



/********id selectors********/
