/*Colour themes*/
/*D9F8C4*/
/*F9F9C5*/
/*FAD9A1*/
/*F37878*/

/********element selectors********/
body{
    background-color: #D9F8C4;
    margin:0;
}

h1{
    font-family: "Acme", sans-serif;
    text-align-last:center;
}

h3{
    font-family: "Acme", sans-serif;
    text-align-last:center; 
}

/********class selectors********/
.box{
    background-color: #F37878;
    border-radius: 25px;
    height:300px;
    margin:100px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.box2{
    background-color: #F37878;
    border-radius: 25px;
    height:600px;
    margin:100px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.topleft{
    border-right:4px solid #D9F8C4;
    float:left;
    height:300px;
    text-align-last:center;
    width:50%;
}

.topright{
    height:300px;
    margin-left: 55%;
    text-align-last:left;
    width:50%;
}

.toplefttexta{
    font-size: 40px; 
    margin-bottom: 10px;
    margin-top: 10px; 
}

.toplefttextb{
    font-size: 120px; 
    margin-bottom: 10px;
    margin-top: 10px; 
}

.toprighttext{
    font-size: 45px; 
    margin-bottom: 10px;
    margin-top: 10px;
    text-align-last:left;
}

.middleleft{
    float:left;
    height:300px;
    text-align-last:center;
    width:40%;
}

.middleright{
    height:300px;
    margin-left: 40%;
    text-align-last:left;
    width:60%;
}

.bottomleft{
    float:left;
    height:600px;
    text-align-last:center;
    width:70%;
}

.bottomright{
    height:600px;
    margin-left: 70%;
    text-align-last:left;
    width:30%;
}

.bottomrighttext{
    font-size: 15px; 
    margin-bottom: 10px;
    margin-top: 10px;
}

/********id selectors********/
